.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 40px;          /* Уменьшенная ширина кнопки */
    height: 40px;         /* Уменьшенная высота кнопки */
    background-color: #8B7355; /* Темно-бежевый цвет фона */
    color: transparent;    /* Скрываем текст */
    border: none;         /* Убираем стандартные границы */
    border-radius: 50%;   /* Круглая форма */
    cursor: pointer;      /* Курсор в виде указателя */
    z-index: 100;         /* Выше других элементов */
    display: flex;        /* Используем flex для центрирования */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center;  /* Центрируем содержимое по вертикали */
}

.scroll-to-top:before {
    content: ''; /* Создаем пустой контент */
    position: absolute; /* Абсолютное позиционирование */
    left: 50%; /* Центрируем по горизонтали */
    bottom: 10px; /* Отступ от нижней части контейнера */
    width: 0; /* Ширина */
    height: 0; /* Высота */
    border-left: 7px solid transparent;  /* Уменьшенные размеры стрелки */
    border-right: 7px solid transparent; /* Уменьшенные размеры стрелки */
    border-bottom: 12px solid white; /* Цвет стрелки */
    transform: translateX(-50%); /* Центрируем стрелку */
}

.scroll-to-top:hover {
    background-color: #705C40; /* Темно-бежевый цвет фона при наведении */
}
