/* Основные стили для body */
/* Основные стили для body */
body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h2, p {
    margin: 0; /* Убираем стандартный отступ для заголовков и параграфов */
    padding: 0; /* Убираем стандартный внутренний отступ */
}


/* Стили для логотипа */
.logo {
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute; /* Положение логотипа над изображением */
    top: 10%; /* Настройка расположения сверху */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Центрирование с помощью трансформации */
    z-index: 10; /* Обеспечиваем, что логотип выше изображения */
}

.logo h1 {
    font-family: 'Playfair Display', serif; /* Шрифт для заголовка h1 */
    font-size: 4.5em; /* Увеличено до 4.5 эм */
    text-align: center;
    color: #222;
    padding: 50px 0;
    margin: 0;
}


.highlight {
    color: #f5deb3; /* Бежевый цвет */
    font-weight: bold; /* Сделать текст жирным */
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2), /* Лёгкая тень справа и вниз */
        2px 2px 0px rgba(0, 0, 0, 0.2), /* Рисуем еще одну тень */
        3px 3px 0px rgba(0, 0, 0, 0.2); /* И добавляем глубину с помощью третьей тени */
}



/* Стили для секции hero */
.hero {
    position: relative;
    height: 100vh; /* Высота секции на 100% высоты окна */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Фон фиксирован */
    background-size: cover; /* Фон масштабируется, чтобы покрыть весь элемент */
    background-position: center center; /* Центрирование фона */
    color: #fbfbf4; /* Цвет текста */
}

.hero h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    padding-bottom: 10px;
    margin-top: 200px; /* Увеличенный отступ сверху */
    color: #ffffff; /* Цвет текста */
}

.hero-overlay {
    position: absolute; /* Абсолютное позиционирование для наложения */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Затемняющая наложка */
    z-index: 1; /* Наложка выше фона */
}

.hero-text {
    position: relative; /* Относительное позиционирование для текста */
    z-index: 2; /* Текст выше наложки */
    display: flex; /* Центрирование текста */
    flex-direction: column; /* Вертикальная компоновка */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    height: 100%; /* Занимаем всю высоту секции */
    text-align: center; /* Центрируем текст */
}

/* Эффект при наведении на кнопку */
/* Кнопка "Подробней" */
.btn {
    margin-top: 20px; /* Отступ сверху */
    padding: 10px 30px; /* Отступ внутри кнопки */
    font-size: 20px; /* Размер текста */
    color: #ffffff; /* Цвет текста */
    background-color: transparent; /* Прозрачный фон */
    border: 1px solid #ffffff; /* Белая рамка */
    border-radius: 25px; /* Закругленные углы для овальной формы */
    text-decoration: none; /* Убираем подчеркивание */
    transition: background-color 0.3s, transform 0.3s; /* Плавные переходы */
    z-index: 2; /* Кнопка выше наложки */
    cursor: pointer; /* Указатель для кликабельности */
}

/* Эффект при наведении на кнопку */
.btn:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Полупрозрачный белый фон при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}



/* Стили для кнопок */
.button {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s; /* Плавный переход фона и эффекта при наведении */
}

.button:hover {
    background: #0056b3;
    transform: translateY(-2px); /* Эффект поднятия кнопки при наведении */
}

#notification {
    position: fixed;  /* Зафиксированное положение */
    top: 20px;  /* Расстояние от верхней части окна */
    left: 50%;  /* Центрирование по горизонтали */
    transform: translateX(-50%);  /* Подправляем центрирование */
    z-index: 1031;  /* Убедитесь, что это выше других элементов */
    width: 90%;  /* Ширина сообщения */
    max-width: 500px;  /* Максимальная ширина сообщения */
    padding: 15px;  /* Внутренний отступ */
    border: 2px solid green;  /* Зеленая рамка */
    border-radius: 5px;  /* Закругленные углы рамки */
    background-color: #d4edda;  /* Светло-зеленый фон */
    color: #155724;  /* Темно-зеленый текст */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  /* Тень для эффекта */
}

