{% load static %}
<!-- Галерея работ -->

<html>
<head>
        <link rel="stylesheet" href="{% static 'deps/css/gallery_2.css' %}"> <!-- Подключение стилевого файла -->
        <link rel="stylesheet" href="{% static 'deps/css/navigator.css' %}"> <!-- Подключение стилевого файла -->
        <link rel="stylesheet" href="{% static 'deps/css/catalog_photo_main.css' %}"> <!-- Подключение стилевого файла -->
        <link rel="stylesheet" href="{% static 'deps/css/footer.css' %}"> <!-- Подключение стилевого файла -->
        <link rel="stylesheet" href="{% static 'deps/css/scroll_top.css' %}"> <!-- Подключение стилевого файла -->


    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

<!-- Верхняя фотография -->
<section id='home_catalog' class="hero" style="background-image: url('{% static 'deps/images/portfolio_main.jpg' %}');">>
    <div class="hero-overlay"></div>
    <div class="hero-text">
        <h1>Портфолио</h1>
    </div>
</section>


<header class="header-nav">  <!-- Новый класс для навигации -->
        <nav>
            <ul class="navigation-menu">
                <li><a href="{% url 'main:index' %}">Главная</a></li>
                <li><a href="{% url 'about:about' %}">Обо мне</a></li>
                <li><a href="{% url 'gallerys:genre' %}">Галерея</a></li>
                <li><a href="{% url 'services:index' %}">Услуги</a></li>
                <li><a href="{% url 'contacts:contact' %}">Контакты</a></li>
            </ul>
        </nav>
</header>



<section id="gallery" class="gallery-container">  <!-- Добавляем класс для центровки -->
    <h2>{{ first_photos.0.photoshoot.category.name }}</h2>

    <div class="gallery-grid">
        {% for photo in first_photos %}
        <a href="{% url 'gallerys:photo' photo.photoshoot.slug %}" class="gallery-item">
            <img src="{{ photo.image.url }}" alt="{{ forloop.counter }}">
            <div class="overlay">
                <span>Смотреть работы</span>
            </div>
            <h3 class="photoshoot-title">{{ photo.photoshoot.name }}</h3> <!-- Добавлено название фотосессии -->
            <p class="shoot-date">{{ photo.photoshoot.shooting_date }}</p>
        </a>
        {% empty %}
            <p>Нет фотографий для отображения</p>
        {% endfor %}
    </div>
</section>

<a href="#" class="scroll-to-top" id="scrollToTopBtn">↑</a>

<script src="{% static 'deps/js/scripts_navigator.js' %}"></script>


  <!-- Футер с контактной информацией и ссылками на социальные сети -->
    <footer>
        <div class="social-media">
            <a href="https://instagram.com">Instagram</a>
            <a href="https://facebook.com">Facebook</a>
        </div>
        <p>Контакты: mary.mazi@mail.com | +7 (988) 954-68-74</p>
        <p>&copy; 2024 Фотограф Мария. Все права защищены.</p>
    </footer>


</body>
</html>