{% extends 'base.html' %}
{% load static %}

{% block css %}
        <link rel="stylesheet" href="{% static 'deps/css/gallery_2.css' %}"> <!-- Подключение стилевого файла -->
        <link rel="stylesheet" href="{% static 'deps/css/catalog_photo_main.css' %}"> <!-- Подключение стилевого файла -->
{% endblock %}



{% block before %}
<!-- Верхняя фотография -->
<section id='home_catalog' class="hero" style="background-image: url('{% static 'deps/images/portfolio_main.jpg' %}');">>
    <div class="hero-overlay"></div>
    <div class="hero-text">
        <h1>Портфолио</h1>
    </div>
</section>
{% endblock %}


{% block content %}
<section id="gallery" class="gallery-container">  <!-- Добавляем класс для центровки -->
    <h2>{{ first_photos.0.photoshoot.category.name }}</h2>

    <div class="gallery-grid">
        {% for photo in first_photos %}
        <a href="{% url 'gallerys:photo' photo.photoshoot.slug %}" class="gallery-item">
            <img src="{{ photo.image.url }}" alt="{{ forloop.counter }}">
            <div class="overlay">
                <span>Смотреть работы</span>
            </div>
            <h3 class="photoshoot-title">{{ photo.photoshoot.name }}</h3> <!-- Добавлено название фотосессии -->
            <p class="shoot-date">{{ photo.photoshoot.shooting_date }}</p>
        </a>
        {% empty %}
            <p>Нет фотографий для отображения</p>
        {% endfor %}
    </div>
</section>
{% endblock %}