{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'deps/css/genre.css' %}"> <!-- Подключение стилевого файла -->
{% endblock %}


{% block before %}
<section id='home_catalog' class="hero" style="background-image: url('{% static 'deps/images/portfolio_main.jpg' %}');">>
    <div class="hero-overlay"></div>
    <div class="hero-text">
        <h1>Портфолио</h1>
    </div>
</section>
{% endblock %}


{% block content %}
    <div class="gallery-block">
    <h2 class="gallery-title">Портретная съемка</h2>
    <div class="gallery">
        <button class="arrow arrow-left" onclick="moveLeft('portraits')">&#9664;</button>
        <div class="gallery-images" id="portraits">
            {% for photo in first_photos_id_3 %}
            <div class="gallery-item">
                <a href="{% url 'gallerys:photo' photo.photoshoot.slug %}">
                    <img src="{{ photo.image.url }}" alt="{{ forloop.counter }}">
                    <div class="overlay"><span>Смотреть работы</span></div>
                </a>
            </div>
            {% empty %}
            <p>Нет фотографий для отображения</p>
            {% endfor %}
        </div>
        <button class="arrow arrow-right" onclick="moveRight('portraits')">&#9654;</button>
    </div>
    <div class="view-gallery">
        <a href="{% url 'gallerys:catalog' 'portretnaya-semka' %}">Смотреть галерею работ</a>
    </div>
</div>

    <div class="gallery-block">
        <h2 class="gallery-title">Фешн съемка</h2>
        <div class="gallery">
            <button class="arrow arrow-left" onclick="moveLeft('fashion')">&#9664;</button>
            <div class="gallery-images" id="fashion">
                {% for photo in first_photos_id_2 %}
                <div class="gallery-item">
                    <a href="{% url 'gallerys:photo' photo.photoshoot.slug %}">
                    <img src="{{ photo.image.url }}" alt="{{ forloop.counter }}">
                    <div class="overlay"><span>Смотреть работы</span></div>
                </a>
                </div>
                {% empty %}
                <p>Нет фотографий для отображения</p>
                {% endfor %}
            </div>
            <button class="arrow arrow-right" onclick="moveRight('fashion')">&#9654;</button>
        </div>
        <div class="view-gallery">
            <a href="{% url 'gallerys:catalog' 'feshn-semka' %}">Смотреть галерею работ</a>
        </div>
    </div>

    <div class="gallery-block">
        <h2 class="gallery-title">Бьюти съемка</h2>
        <div class="gallery">
            <button class="arrow arrow-left" onclick="moveLeft('beauty')">&#9664;</button>
            <div class="gallery-images" id="beauty">
                {% for photo in first_photos_id_1 %}
                <div class="gallery-item">
                    <a href="{% url 'gallerys:photo' photo.photoshoot.slug %}">
                    <img src="{{ photo.image.url }}" alt="{{ forloop.counter }}">
                    <div class="overlay"><span>Смотреть работы</span></div>
                </a>
                </div>
                {% empty %}
                <p>Нет фотографий для отображения</p>
                {% endfor %}
            </div>
            <button class="arrow arrow-right" onclick="moveRight('beauty')">&#9654;</button>
        </div>
        <div class="view-gallery">
            <a href="{% url 'gallerys:catalog' 'byuti-semka' %}">Смотреть галерею работ</a>
        </div>
    </div>

    <div class="gallery-block">
        <h2 class="gallery-title">Студийная фотография</h2>
        <div class="gallery">
            <button class="arrow arrow-left" onclick="moveLeft('studio')">&#9664;</button>
            <div class="gallery-images" id="studio">
                {% for photo in first_photos_id_4 %}
                <div class="gallery-item">
                    <a href="{% url 'gallerys:photo' photo.photoshoot.slug %}">
                    <img src="{{ photo.image.url }}" alt="{{ forloop.counter">
                    <div class="overlay"><span>Смотреть работы</span></div>
                </a>
                </div>
                {% empty %}
                <p>Нет фотографий для отображения</p>
                {% endfor %}
            </div>
            <button class="arrow arrow-right" onclick="moveRight('studio')">&#9654;</button>
        </div>
        <div class="view-gallery">
            <a href="{% url 'gallerys:catalog' 'studijnaya-fotografiya' %}">Смотреть галерею работ</a>
        </div>
    </div>
{% endblock %}