{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>

    <link rel="stylesheet" href="{% static 'deps/css/genre.css' %}"> <!-- Подключение стилевого файла -->
    <link rel="stylesheet" href="{% static 'deps/css/footer.css' %}"> <!-- Подключение стилевого файла -->
    <link rel="stylesheet" href="{% static 'deps/css/navigator.css' %}"> <!-- Подключение стилевого файла -->
    <link rel="stylesheet" href="{% static 'deps/css/scroll_top.css' %}"> <!-- Подключение стилевого файла -->

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap" rel="stylesheet">






    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фотограф Meri Mazi</title>
    <link rel="stylesheet" href="styles.css"> <!-- Подключение CSS файла -->
</head>
<body>


<section id='home_catalog' class="hero" style="background-image: url('{% static 'deps/images/portfolio_main.jpg' %}');">>
    <div class="hero-overlay"></div>
    <div class="hero-text">
        <h1>Портфолио</h1>
    </div>
</section>


<!-- Навигационное меню как отдельный элемент -->
    <header class="header-nav">  <!-- Новый класс для навигации -->
        <nav>
            <ul class="navigation-menu">
                <li><a href="{% url 'main:index' %}">Главная</a></li>
                <li><a href="#about">Обо мне</a></li>
                <li><a href="{% url 'gallerys:genre' %}">Галерея</a></li>
                <li><a href="{% url 'services:index' %}">Услуги</a></li>
                <li><a href="#contacts">Контакты</a></li>
                <li><a href="#prices">Цены</a></li>
            </ul>
        </nav>
    </header>


    <div class="gallery-block">
    <h2 class="gallery-title">Портретная съемка</h2>
    <div class="gallery">
        <button class="arrow arrow-left" onclick="moveLeft('portraits')">&#9664;</button>
        <div class="gallery-images" id="portraits">
            {% for photo in first_photos_id_3 %}
            <div class="gallery-item">
                <a href="{% url 'gallerys:photo' photo.photoshoot.slug %}">
                    <img src="{{ photo.image.url }}" alt="{{ forloop.counter }}">
                    <div class="overlay"><span>Смотреть работы</span></div>
                </a>
            </div>
            {% empty %}
            <p>Нет фотографий для отображения</p>
            {% endfor %}
        </div>
        <button class="arrow arrow-right" onclick="moveRight('portraits')">&#9654;</button>
    </div>
    <div class="view-gallery">
        <a href="{% url 'gallerys:catalog' 'portretnaya-semka' %}">Смотреть галерею работ</a>
    </div>
</div>

    <div class="gallery-block">
        <h2 class="gallery-title">Фешн съемка</h2>
        <div class="gallery">
            <button class="arrow arrow-left" onclick="moveLeft('fashion')">&#9664;</button>
            <div class="gallery-images" id="fashion">
                {% for photo in first_photos_id_2 %}
                <div class="gallery-item">
                    <a href="{% url 'gallerys:photo' photo.photoshoot.slug %}">
                    <img src="{{ photo.image.url }}" alt="{{ forloop.counter }}">
                    <div class="overlay"><span>Смотреть работы</span></div>
                </a>
                </div>
                {% empty %}
                <p>Нет фотографий для отображения</p>
                {% endfor %}
            </div>
            <button class="arrow arrow-right" onclick="moveRight('fashion')">&#9654;</button>
        </div>
        <div class="view-gallery">
            <a href="{% url 'gallerys:catalog' 'feshn-semka' %}">Смотреть галерею работ</a>
        </div>
    </div>

    <div class="gallery-block">
        <h2 class="gallery-title">Бьюти съемка</h2>
        <div class="gallery">
            <button class="arrow arrow-left" onclick="moveLeft('beauty')">&#9664;</button>
            <div class="gallery-images" id="beauty">
                {% for photo in first_photos_id_1 %}
                <div class="gallery-item">
                    <a href="{% url 'gallerys:photo' photo.photoshoot.slug %}">
                    <img src="{{ photo.image.url }}" alt="{{ forloop.counter }}">
                    <div class="overlay"><span>Смотреть работы</span></div>
                </a>
                </div>
                {% empty %}
                <p>Нет фотографий для отображения</p>
                {% endfor %}
            </div>
            <button class="arrow arrow-right" onclick="moveRight('beauty')">&#9654;</button>
        </div>
        <div class="view-gallery">
            <a href="{% url 'gallerys:catalog' 'byuti-semka' %}">Смотреть галерею работ</a>
        </div>
    </div>

    <div class="gallery-block">
        <h2 class="gallery-title">Студийная фотография</h2>
        <div class="gallery">
            <button class="arrow arrow-left" onclick="moveLeft('studio')">&#9664;</button>
            <div class="gallery-images" id="studio">
                {% for photo in first_photos_id_4 %}
                <div class="gallery-item">
                    <a href="{% url 'gallerys:photo' photo.photoshoot.slug %}">
                    <img src="{{ photo.image.url }}" alt="{{ forloop.counter">
                    <div class="overlay"><span>Смотреть работы</span></div>
                </a>
                </div>
                {% empty %}
                <p>Нет фотографий для отображения</p>
                {% endfor %}
            </div>
            <button class="arrow arrow-right" onclick="moveRight('studio')">&#9654;</button>
        </div>
        <div class="view-gallery">
            <a href="{% url 'gallerys:catalog' 'studijnaya-fotografiya' %}">Смотреть галерею работ</a>
        </div>
    </div>



   <footer>
        <div class="social-media">
            <a href="https://instagram.com">Instagram</a>
            <a href="https://facebook.com">Facebook</a>
        </div>
        <p>Контакты: mary.mazi@mail.com | +7 (988) 954-68-74</p>
        <p>&copy; 2024 Фотограф Мария. Все права защищены.</p>
    </footer>


<a href="#" class="scroll-to-top" id="scrollToTopBtn">↑</a>

<script src="{% static 'deps/js/scripts_navigator.js' %}"></script>


</body>
</html>