{% extends 'base.html' %}
{% load static %}


{% block css %}
     <link rel="stylesheet" href="{% static 'deps/css/photo.css' %}"> <!-- Подключение стилевого файла -->
     <link rel="stylesheet" href="{% static 'deps/css/navigator_2.css' %}"> <!-- Подключение стилевого файла -->
{% endblock %}


{% block content %}
    <!-- Название фотосессии и описание -->
    <section class="session-description">
        <h1>{{ photos.0.photoshoot.name }}</h1>
        <p>
            {{ photos.0.photoshoot.description }}
        </p>
    </section>

    <!-- Галерея фотографий -->
    <section class="photo-gallery">
        <div class="gallery-grid">
            <!-- Фото 1 -->
            {% for photo in photos %}
            <div class="gallery-item">
                <img src="{{ photo.image.url }}" alt="{{ forloop.counter }} ">
            </div>
            {% empty %}
            <p>Нет фотографий для отображения</p>
            {% endfor %}
        </div>
    </section>
{% endblock %}