{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'deps/css/styles.css' %}"> <!-- Подключение стилевого файла -->
    <link rel="stylesheet" href="{% static 'deps/css/about_me.css' %}"> <!-- Подключение стилевого файла -->
    <link rel="stylesheet" href="{% static 'deps/css/gallery.css' %}"> <!-- Подключение стилевого файла -->
    <link rel="stylesheet" href="{% static 'deps/css/footer.css' %}"> <!-- Подключение стилевого файла -->
    <link rel="stylesheet" href="{% static 'deps/css/navigator.css' %}"> <!-- Подключение стилевого файла -->
    <link rel="stylesheet" href="{% static 'deps/css/services.css' %}"> <!-- Подключение стилевого файла -->
    <link rel="stylesheet" href="{% static 'deps/css/contact.css' %}"> <!-- Подключение стилевого файла -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">



</head>
<body>
    <!-- Заголовок сайта -->
    <div class="logo">
        <h1>
            <span class="highlight">Фотограф</span><br>
            <span class="highlight subtitle">Meri Mazi</span>
        </h1>
    </div>

    <!-- Навигационное меню как отдельный элемент -->
    <header class="header-nav">  <!-- Новый класс для навигации -->
        <nav>
            <ul class="navigation-menu">
                <li><a href="#home">Главная</a></li>
                <li><a href="#about">Обо мне</a></li>
                <li><a href="#gallery">Галерея</a></li>
                <li><a href="#services">Услуги</a></li>
                <li><a href="#contacts">Контакты</a></li>
                <li><a href="#prices">Цены</a></li>
            </ul>
        </nav>
    </header>

    <!-- Секция hero с основным изображением -->
    <section id='home' class="hero" style="background-image: url('{% static 'deps/images/main_photo.jpg' %}');">
    <div class="hero-overlay"></div>
    <div class="hero-text">
        <h2>Запечатлите самые важные моменты</h2>
        <a href="#about" class="btn">Подробней</a> <!-- Добавлена кнопка -->
    </div>
</section>

    <!-- Обо мне -->
    <section id="about" class="about-section" style=" background-image: url('{% static 'deps/images/about_photo3.jpg' %}');">
        <div class="about-overlay"></div>
        <h2>Обо мне</h2>
        <p> Я – профессиональный фотограф с опытом работы более 10 лет. Мой стиль – это искусство запечатлевать мгновения, создавая уникальные истории через объектив. </p>
</section>

    <!-- Галерея работ -->
    <section id="gallery">
    <h2>Галерея работ</h2>
    <div class="gallery-grid">
        <a href="URL_для_работы_1" class="gallery-item">
            <img src="{% static 'deps/images/list_photo/photo_4.jpg' %}" alt="Работа 1">
            <div class="overlay">
                <span>Смотреть работы</span>
            </div>
        </a>
        <a href="URL_для_работы_2" class="gallery-item">
            <img src="{% static 'deps/images/list_photo/photo_2.jpg' %}" alt="Работа 2">
            <div class="overlay">
                <span>Смотреть работы</span>
            </div>
        </a>
        <a href="URL_для_работы_3" class="gallery-item">
            <img src="{% static 'deps/images/list_photo/photo_3.jpg' %}" alt="Работа 3">
            <div class="overlay">
                <span>Смотреть работы</span>
            </div>
        </a>
        <a href="URL_для_работы_4" class="gallery-item">
            <img src="{% static 'deps/images/list_photo/photo_5.jpg' %}" alt="Работа 4">
            <div class="overlay">
                <span>Смотреть работы</span>
            </div>
        </a>
        <a href="URL_для_работы_5" class="gallery-item">
            <img src="{% static 'deps/images/list_photo/photo_6.jpg' %}" alt="Работа 5">
            <div class="overlay">
                <span>Смотреть работы</span>
            </div>
        </a>
        <a href="URL_для_работы_6" class="gallery-item">
            <img src="{% static 'deps/images/list_photo/photo_7.jpg' %}" alt="Работа 6">
            <div class="overlay">
                <span>Смотреть работы</span>
            </div>
        </a>
    </div>
    <a href="URL_для_дополнительных_работ" class="show-more">Показать еще работы</a>
</section>



    <!-- Услуги, предлагаемые фотографом -->
    <section id="services">
    <h2>Услуги</h2>

    <div class="service-item">
        <a href="ссылка_на_портретную_съемку">
            <img src="{% static 'deps/images/services/portrait.jpg' %}" class="service-image">
        </a>
        <div class="service-description">
            <h3>Портретная съемка</h3>
            <p>Краткое описание портретной съемки. Мы предлагаем профессиональные услуги по созданию портретов в различных стилях.</p>
            <a href="ссылка_на_портретную_съемку" class="btn2">Смотреть</a>
        </div>
    </div>

    <div class="service-item">
        <a href="ссылка_на_фешн_съемку">
            <img src="{% static 'deps/images/services/fashion.jpg' %}" class="service-image">
        </a>
        <div class="service-description">
            <h3>Фешн съемка</h3>
            <p>Краткое описание фешн съемки. Стильные фотографии, которые помогут выделить вашу индивидуальность.</p>
            <a href="ссылка_на_фешн_съемку" class="btn2">Смотреть</a>
        </div>
    </div>

    <div class="service-item">
        <a href="ссылка_на_бьюти_съемку">
            <img src="{% static 'deps/images/services/beauty.jpg' %}" class="service-image">
        </a>
        <div class="service-description">
            <h3>Бьюти съемка</h3>
            <p>Краткое описание бьюти съемки. Профессиональные фотосессии для журналов и социальных сетей.</p>
            <a href="ссылка_на_бьюти_съемку" class="btn2">Смотреть</a>
        </div>
    </div>

    <div class="service-item">
        <a href="ссылка_на_студийную_фотографию">
            <img src="{% static 'deps/images/services/stud.jpg' %}" class="service-image">
        </a>
        <div class="service-description">
            <h3>Студийная фотография</h3>
            <p>Краткое описание студийной фотографии. Лучшие условия и оборудование для качественной съемки.</p>
            <a href="ссылка_на_студийную_фотографию" class="btn2">Смотреть</a>
        </div>
    </div>
</section>

 <!-- Секция "Контакты" -->
<section id="contacts">
    <h2>Контакты</h2>
    <div class="contact-container">
        <!-- Левая сторона: форма для заполнения -->
        <div class="contact-form">
            <p class="form-intro">Оставьте заявку на съемку и я свяжусь с вами</p>
            <form action="submit_form.php" method="POST">
                <label for="name">Имя:</label>
                <input type="text" id="name" name="name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="phone">Номер телефона:</label>
                <input type="tel" id="phone" name="phone" required>

                <button type="submit" class="submit-button">Отправить</button>
                <p class="privacy-notice">Нажимая кнопку "Отправить", вы соглашаетесь с политикой конфиденциальности.</p>
            </form>
        </div>

        <!-- Правая сторона: информация и кнопки -->
        <div class="contact-info">
            <h3>Связаться со мной</h3>
            <p>Email: <a href="mailto:mary.mazy@mail.com" class="email-link">mary.mazy@mail.com</a></p>
            <p>Телефон: <span class="phone-number">+7 (988) 954-68-74</span></p>
            <div class="social-buttons">
                <a href="https://t.me/yourusername" class="social-button telegram">Написать мне в Телеграмм</a>
                <a href="https://wa.me/yourphonenumber" class="social-button whatsapp">Написать мне в Ватсапп</a>
                <a href="https://vk.com/im?w=wall-123456&message=YourMessage" class="social-button vk">Написать мне в ВКонтакте</a>
            </div>
        </div>
    </div>
</section>

    <!-- Футер с контактной информацией и ссылками на социальные сети -->
    <footer>
        <div class="social-media">
            <a href="https://instagram.com">Instagram</a>
            <a href="https://facebook.com">Facebook</a>
        </div>
        <p>Контакты: info@example.com | +7 (123) 456-78-90</p>
        <p>&copy; 2023 Фотограф [Имя]. Все права защищены.</p>
    </footer>

<script src="{% static 'deps/js/scripts_navigator.js' %}"></script>


</body>
</html>